<% include ./partials/header %>
<div class="container">
  <h1>Select Minesweeper Size</h1>
  <p>
    <select id="difficulty">
      <option value="easy" selected>Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>
  </p>
  <form action="/game/" method="GET">
    <div class="form-group">
      <label for="width">Width</label>
      <input class="form-control" type="number" name="width" id="width" min="5", max="50" value="9" step="1" required>
    </div>
    <div class="form-group">
      <label for="height">Height</label>
      <input class="form-control" type="number" name="height" id="height" min="5", max="50" value="9" step="1" requiredot>
    </div>
    <div class="form-group">
      <label for="mines">Mines</label>
      <input class="form-control" type="number" name="mines" id="mines" min="5", max="999" value="10" step="1" requiredot>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg">
  </form>
  <h2 class="mt-3 text-center">High Score</h2>
  <div class="card-group mt-3">
    <% Object.keys(results).forEach((key) => { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center"><%= key %></h5>
          <p class="card-text text-center">
            <% results[key].forEach((game, index) => { %>
              <strong><%= index + 1 %>. <%= game.name %></strong> - <%= game.score %> seconds<br>
            <% }); %>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
</div>
<script src="/js/index.js"></script>
<% include ./partials/footer %>