.game {
  margin: 20px;
}

.board {
  box-shadow: 4px 4px 4px #000;
  margin: 0 auto;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.field {
  box-sizing: border-box;
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 20px;
  height: 20px;
  background-color: #999;
}

.clear-float {
  clear: both;
}

.pressed {
  background-color: #FFF;
  font-weight: bold;
}

.mine {
  background-color: #000;
}

.flag {
  background-color: #F00;
}

#message {
  margin-top: 5em;
}